<ion-header>
  <ion-toolbar>
    <ion-title>Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center; padding: 20px;">
    <h1>Le Bateau de Thibault</h1>
    <p>
      Le seul intermédiaire entre la mer et vous, c'est nous !
      <br>
      Vente en direct des bateaux des ports de Barfleur, Saint-Vaast & Cherbourg(50).
    </p>
    
    <h2>Nous contacter:</h2>
    
    <p>
      <strong>Email :</strong> commandelebateaudethibault&#64;gmail.com
      <br>
      <strong>Téléphone :</strong> 06.87.73.55.56
    </p>
    
    <p>
      N'hésitez pas à nous envoyer des photos de vos délicieuses créations par email, messages privés, sms !
    </p>
    
    <p>
      Nous les partagerons sur nos réseaux pour donner des idées de repas à tous les clients!
      <br>
      Bon appétit !
    </p>
  </div>
</ion-content>
