<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" (click)="navigateTo('home')">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Produits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bateaux" (click)="navigateTo('bateaux')">
      <ion-icon name="boat-outline"></ion-icon>
      <ion-label>Bateaux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurants"  routerLink="/restaurants">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recettes" (click)="navigateTo('recettes')" >
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Recettes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact" (click)="navigateTo('contact')">
      <ion-icon name="call-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
