<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/restaurants"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ restaurant.nom }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>{{ restaurant.nom }}</h2>
  <ion-img [src]="restaurant.image"></ion-img>
  
  <p>{{ restaurant.description }}</p>
</ion-content>
<ion-footer>
  <ion-tab-bar>
    <ion-tab-button tab="products">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Produits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="boats" routerLink="/bateaux">
      <ion-icon name="boat-outline"></ion-icon>
      <ion-label>Bateaux</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="restaurants" routerLink="/restaurants">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restaurants</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recipes">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Recettes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
