ion-segment {
  margin: 10px 0;
}

ion-card {
  margin: 15px 0;
}

ion-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

ion-footer {
  ion-tab-bar {
    background-color: #f8f8f8;
  }
}
