<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Rechercher des produits..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable>
    <ion-segment-button *ngFor="let category of categories">
      <!-- Vérification pour afficher une image personnalisée -->
      <ng-container *ngIf="category.icon.startsWith('assets')">
        <img [src]="category.icon" alt="{{ category.name }}" style="width: 30px; height: 30px;" />
      </ng-container>

      <!-- Affichage d'icône Ionicons -->
      <ng-container *ngIf="!category.icon.startsWith('assets')">
        <ion-icon [name]="category.icon"></ion-icon>
      </ng-container>
      
      <ion-label>{{ category.name }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let product of products">
        <ion-card (click)="onProductClick(product)">
          <img [src]="product.image" />
          <ion-card-header>
            <ion-card-title>{{ product.name }}</ion-card-title>
            <ion-card-subtitle>{{ product.description }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>{{ product.price  }}</ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>